<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Inventory Api</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>


    <!-- <img class="overlay" src="../../images/button_example.jpg" alt=""> -->

    <header>
        <div class="statusBar">
            <span class="lefty">
                <time></time>
                <img src="/images/moon.png" width='12px' height='12px' alt="A moon Status icon">
                <img src="/images/facebook.png" width='12px' height='12px' alt="A facebook icon ">
                <img src="/images/facebook_white.png" width='12px' height='12px' alt="Another facebook icon">
                <img src="/images/dot.png" width='12px' height='12px' alt="A dot icon">
            </span>
            <span class="righty">
                <img src="/images/key.png" width='12px' height='12px' alt="A key icon">
                <img src="/images/suitcase.png" width='12px' height='12px' alt="A suitcase icon">
                <img src="/images/wifi_both.png" width='12px' height='12px' alt="The wifi icon">
                <img src="/images/signal.png" width='12px' height='12px' alt="the service icon">
                <div class='batteryBlock'>
                    <span id="batteryPercentage">66%</span><!-- 
                    --><img src="/images/battery_full.png" width='12px' height='12px' alt=" the battery icon">
                </div>
            </span>
        </div>
        <Nav>
            <div class="lefty">
                <button id="backArrowIcon"><img src="/images/back_arrow.png" width='15px' height='14px' alt=""></button>
                <span>EndCap Creator</span>
            </div>
            <div class="righty">
                <button id="magGlassIcon"><img width='20px' height='20px' src='/images/magnifying-glass.png'
                        alt=""></button>
                <button id='printIcon'><img width='20px' height="20px" src="/images/printer.png" alt=""> </button>
            </div>
        </Nav>
    </header>
    <form id="volumeForm" class="radioForm" action="/api" method="GET">
        <fieldset class="shelfDimensionsSelect">
            <ul class="radioWrapper">
                <li>
                    <legend class="radioLegend"><img src="/images/height-icon.png" alt="Width of the Endcap">Endcap
                        Height</legend>
                </li>
                <li><input type='radio' name="shelfHeight" class="radioValue" value="71" checked>71"</li>
                <li><input type='radio' name="shelfHeight" class="radioValue" value="54">54"</li>
            </ul>
        </fieldset>
        <fieldset class="shelfDimensionsSelect">
            <ul class="radioWrapper">
                <li>
                    <legend class="radioLegend"><img src="/images/width-icon.png" alt="Width of the Endcap">Endcap Width
                    </legend>
                </li>
                <li><input type='radio' name="shelfWidth" class="radioValue" value="60">60"</li>
                <li><input type='radio' name="shelfWidth" class="radioValue" value="48">48"</li>
                <li><input type='radio' name="shelfWidth" class="radioValue" value="36" checked>36" </li>
                <li><input type='radio' name="shelfWidth" class="radioValue" value="30">30"</li>
                <li><input type='radio' name="shelfWidth" class="radioValue" value="24">24"</li>
            </ul>
        </fieldset>
        <fieldset class="shelfDimensionsSelect">
            <ul class="radioWrapper">
                <li>
                    <legend class="radioLegend"><img src="/images/depth-icon.png" alt="Depth of the Endcap">Endcap Depth
                    </legend>
                </li>
                <li><input type='radio' name="shelfDepth" class="radioValue" value="24">24"</li>
                <li><input type='radio' name="shelfDepth" class="radioValue" value="18">18"</li>
                <li><input type='radio' name="shelfDepth" class="radioValue" value="16">16" </li>
                <li><input type='radio' name="shelfDepth" class="radioValue" value="14" checked>14"</li>
            </ul>
        </fieldset>
        
    </form>
    <form id="reset"  action="/" method="GET">
    
    </form> 
    <div class="buttonHolder"><button value="checkStock" id="checkStock" class="sculptedButton" onclick="submitForm('volumeForm')">Check Stock</button>
    <button value="reset"class="sculptedButton" onclick="submitForm('reset')">Reset Creator</button>
    </div>
    
    <div class="invertory"><img src="/images/box.png" width='21px' height='20px' alt="A moon Status icon"><h6>Items available</h6>
    </div>
    <ol id='responseMenu'>
        <% for(var i=0; i<suggestedItems.length; i++){%>
            <li class='lineitem'>
                <img src='<%= suggestedItems[i].img %>' alt="A placeholder Image" class='itemImg' width="100px" height="100px">
                <table class="itemTable">
                    <tr>
                        <th class="itemDescr" colspan=2>
                            <%= suggestedItems[i].productDescr %>
                        </th>
                    </tr>
                    <tr>
                        <th>Price</th>
                        <td>$ <%= suggestedItems[i].price %> ea</td>
                    </tr>
                    <tr>
                        <th>On hand</th>
                        <td>
                            <%=suggestedItems[i].onHand %>
                        </td>
                    </tr>
                    <tr>
                        <th>UPC</th>
                        <td>
                            <%=suggestedItems[i].UPC %>
                        </td>
                    </tr>
                </table>
            </li>
            <% } %>

    </ol>
    <script type="text/javascript" src='js/main.js'></script>
</body>

</html>